$white: #fff;
$nav-bg-color: #ff8800;

body {
    position: relative !important;
}

nav {
    position: absolute;
    top: 60px;
    right: 60px;
    > a {
        display: block;
        width: 30px;
        height: 10px;   
        text-indent: -9999px;     
        
            &:before {
                content: " ";
                width: 50%;
                height: 2px;
                background-color: $white;
                position: absolute;
                right: 0;
                top: 0;
                transition: all 0.2s linear;
            }
            &:after {
                content: " ";
                width: 100%;
                height: 2px;
                background-color: $white;
                position: absolute;
                right: 0;
                bottom: 0;
            }

        &:focus {
            &:before {
                width: 100%;
            }
        }

    }

    #menu {        
        position: fixed;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        transition: all 0.5s ease;
        color: $white;
        background-color: $nav-bg-color;
        transition-delay: 500ms;
        z-index: 100;
        
        &:target {
            display:block;
            width: 100vw;
            transition-delay: 0ms;

            a[href="#closemenu"] {
                visibility: visible;

                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }

            ul {
                li {
                    opacity: 1;
                    transition-delay: 500ms;
                
                    &:nth-child(2) {
                        transition-delay: 550ms;
                    }
                    &:nth-child(3) {
                        transition-delay: 600ms;
                    }
                    &:nth-child(4) {
                        transition-delay: 650ms;
                    }
                    &:nth-child(5) {
                        transition-delay: 700ms;
                    }
                    &:nth-child(6) {
                        transition-delay: 750ms;
                    }
                    &:nth-child(7) {
                        transition-delay: 800ms;
                    }
                }
            }
            
        }

        > p {
            text-align: right;
            margin-top: 50px;
            margin-right: 60px;
            text-indent: -9999px;

            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                text-indent: -9999px;
                position: relative;
                visibility: hidden;

                    &:before {
                        content: " ";
                        width: 100%;
                        height: 2px;
                        background-color: $white;
                        position: absolute;
                        right: 0;
                        top: calc(50% - 1px);
                        transition: all 0.2s linear;
                        transition-delay: 100ms;
                    }

                    &:after {
                        content: " ";
                        width: 100%;
                        height: 2px;
                        background-color: $white;
                        position: absolute;
                        right: 0;
                        bottom: calc(50% - 1px);
                        transition: all 0.2s linear;
                        transition-delay: 100ms;
                    }
            }
                        
        }

        ul {
            margin-top: 110px;
            list-style-type: none;
            @media (max-width:480px) {
                margin-top: 40px;
            }

            li {
                margin-right: 60px;
                text-align: right;
                transition: all 0.4s ease-out;                
                transition-delay: 200ms;
                opacity: 0;

                a {
                    color: $white;
                    font-size: 22px;
                    line-height: 2;
                    text-decoration: none;
                    letter-spacing: 1px;
                    
                    &:hover {
                        text-decoration: none;
                    }
                }

                &:nth-child(2) {
                    transition-delay: 250ms;
                }
                &:nth-child(3) {
                    transition-delay: 200ms;
                }
                &:nth-child(4) {
                    transition-delay: 150ms;
                }
                &:nth-child(5) {
                    transition-delay: 100ms;
                }
                &:nth-child(6) {
                    transition-delay: 50ms;
                }
                &:nth-child(7) {
                    transition-delay: 0ms;
                }

            }
            
        }

    }


}
