body {

    > header {
        position: absolute;
        top: 20px;
        left: 60px;
        display: block;
        max-width: 220px;

        @media (max-width:480px) {
            left: 10px;
            max-width: 120px;
            top: 40px;
        }

        .logo {

            img {
                max-width: 100%;
            }
        }
    }
} 